.search-result-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-result-content {
    text-align: center;
    overflow: auto;
}

.search {
    min-width: 700px;
}