.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content > :not(:last-child) {
  margin-bottom: 18px;
}

.home-content > .actions > :not(:last-child) {
  margin-right: 30px;
}

.home-search {
  min-width: 560px;
}