.App {
    height: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .text {
    color: white;
}

.footer .phone {
    color: #ed7133;
}

.ant-layout-footer {
    background-color: #333333 !important;
    max-height: 60px;
}
